In [1]:
import numpy as np
import pandas as pd

In [2]:
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
%matplotlib inline

# Importing Data

In [20]:
Train_Data=pd.read_csv('Train.csv')

In [11]:
Test_Data=pd.read_csv('Test.csv')

In [10]:
Sample_Data=pd.read_csv('sample_submission.csv')

In [21]:
print (Train_Data.shape)
Train_Data.tail()

(22750, 9)

,Employee ID,Date of Joining,Gender,Company Type,WFH Setup Available,Designation,Resource Allocation,Mental Fatigue Score,Burn Rate
22745,fffe31003500370039003100,30-12-2008,Female,Service,No,1,3.0,NaN,41
22746,fffe33003000350031003800,19-01-2008,Female,Product,Yes,3,6.0,6.7,59
22747,fffe390032003000,05-11-2008,Male,Service,Yes,3,7.0,NaN,72
22748,fffe33003300320036003900,10-01-2008,Female,Service,No,2,5.0,5.9,52
22749,fffe3400350031003800,06-01-2008,Male,Product,No,3,6.0,7.8,61

In [22]:
Train_Data

,Employee ID,Date of Joining,Gender,Company Type,WFH Setup Available,Designation,Resource Allocation,Mental Fatigue Score,Burn Rate
0,fffe32003000360033003200,30-09-2008,Female,Service,No,2,3.0,3.8,16
1,fffe3700360033003500,30-11-2008,Male,Service,Yes,1,2.0,5.0,36
2,fffe31003300320037003900,10-03-2008,Female,Product,Yes,2,NaN,5.8,49
3,fffe32003400380032003900,03-11-2008,Male,Service,Yes,1,1.0,2.6,20
4,fffe31003900340031003600,24-07-2008,Female,Service,No,3,7.0,6.9,52
...,...,...,...,...,...,...,...,...,...
22745,fffe31003500370039003100,30-12-2008,Female,Service,No,1,3.0,NaN,41
22746,fffe33003000350031003800,19-01-2008,Female,Product,Yes,3,6.0,6.7,59
22747,fffe390032003000,05-11-2008,Male,Service,Yes,3,7.0,NaN,72
22748,fffe33003300320036003900,10-01-2008,Female,Service,No,2,5.0,5.9,52
22749,fffe3400350031003800,06-01-2008,Male,Product,No,3,6.0,7.8,61